
@{
    ViewBag.Title = "RoadMaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="text-center">Yol Haritaları</h4>
    @Html.Action("_PartialViewSource", "RoadMaps")
</div>
