


@using AcodexWebSite.Models
@model List<TblFilm>

@{
    string subject = null;
}

<div class="d-grid gap-2">

    @foreach (var s in Model)
    {
        if (subject != s.Subject)
        {
            <h5 class="text-center">@s.Subject</h5>
            subject = s.Subject;
        }

        <a href="@s.Link" style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            @s.Title
        </a>
    }
</div>
<br>
