@{
    ViewBag.Title = "About";
}

<div class="container">
    <h4 class="text-center">Hakkımda</h4>
    <div class="container">
        <div class="d-flex flex-column flex-sm-row">
            <img src="~/Scripts/src/Vahap.jpg" class="rounded img-fluid" style="height:300px;" alt="Profil">
            <div class="ms-4 ">
                <h5 class="mt-2">Siber Güvenlik | Yapay Zeka</h5>
                <em>Abdulvahap DOĞAN</em>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Web sitesi : </b><a href="https://www.vahapdogan.com.tr">vahapdogan.com.tr</a>
                    </li>
                    <li class="list-group-item"><b>Şehir : </b>Nevşehir/Türkiye</li>
                    <li class="list-group-item"><b>Üniversite : </b> Nevşehir Hacı Bektaş Veli Üniversitesi</li>
                    <li class="list-group-item">
                        <b>E-mail : </b><a href="mailto:rtoor6660@gmail.com">rtoor@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="mt-3">
            Adıyaman'da doğdum ve yaşadım. İlkokulu, ortaokulu ve liseyi Adıyaman'da okudum. 2020
            yılında Pamukkale Üniversitesi'nde Makine Mühendisliği okudum. Aynı yıllarda Yapay Zeka ve Siber
            Güvenlik konularına da
            ilgi duymaya başladım. Bu sebeple okuduğum bölümü değiştirdim ve 2023 yılından bu yana Nevşehir Hacı
            Bektaş Veli Üniversitesi'nde Bilgisayar Programcılığı okuyorum.
        </p>
        <br>

        <!-- Becerilerim-->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Becerilerim</th>
                    <th scope="col">Bilinme Değerleri</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">HTML</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-dark" style="width: 85%">85%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">CSS</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-dark" style="width: 85%">85%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Python</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-dark" style="width: 75%">75%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">C#</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-dark" style="width:60%">60%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">C</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar  bg-dark" style="width: 50%">50%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">OOP</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar  bg-dark" style="width: 75%">75%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Wordpress CMS</th>
                    <td>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar  bg-dark" style="width: 80%">80%</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>


        <!-- Üzerinde çalıştığım konular-->
        <h6 class="text-center bg-body-secondary">Çalıştığım Alanlar</h6>
        <div class="tab-pane">
            <a href="#">
                <button type="button" class="btn btn-outline-dark btn-l">
                    <i class="fa-solid fa-window-restore"></i> Web Geliştirme
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-code-compare"></i> Entity Framework
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-terminal"></i> UNIX/Linux
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-user-secret"></i> Siber Güvenlik
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-robot"></i> Yapay Zeka
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-right-to-bracket"></i> OOP
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-code"></i> ADO.Net
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-desktop"></i> C# Form
                </button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa-solid fa-database"></i> Veri Tabanı
                </button>
            </a>
        </div>
    </div>
</div>