
@{
    ViewBag.Title = "Film";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="text-center">Film - Belgeseller</h4>
    @Html.Action("_FilmPartialViewFilms", "Home")
</div>


