
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="text-center">Kitaplar</h4>
    <div class="container book">
        @Html.Action("_ShopPartialView", "Home")
    </div>
</div>
