@{
    ViewBag.Title = "SocialAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="text-center">Sosyal Medya</h4>
    <div class="d-grid gap-2">
        <a href="https://github.com/vahap-18"
           style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            GitHub
        </a>
        <a href="#" style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            Mobil Uygulama
        </a>

        <a href="https://tr.linkedin.com/in/abdulvahap-dogan-a29b69205"
           style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            Linkedln
        </a>
        <a href="https://www.instagram.com/acodex.official/"
           style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            Instagram
        </a>

        <a href="https://www.instagram.com/vahap_dogann/"
           style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            Kişisel Instagram
        </a>

        <a href="https://www.youtube.com/channel/UCvPuaEjwbL11jXMnf1Pr_sw"
           style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            Youtube
        </a>

        <a href="https://vahapdogan.com.tr/"
           style="text-decoration: none;" class="btn btn-outline-dark" type="button">
            Portfolio Web Site
        </a>

    </div>
</div>

