
@{
    ViewBag.Title = "Source";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="text-center">Kaynaklar</h4>
    @Html.Action("_SourcePartialView", "Home")
</div>
